@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: inherit;
}

.padding__x {
  padding-left: 13vw;
  padding-right: 13vw;
}

.primary__button {
  text-align: center;
  background: linear-gradient(90deg, #ff2569, #ac345b);
  font-weight: 500;
  color: white;
  border-radius: .75rem;
}